.wmde-markdown {
    --color-border-default: #b4b4b4;
    --color-canvas-default: #00000000;
    --color-canvas-subtle: #00000000;
    --color-border-muted: #00000000;
}

table {
    background: "transparent";
}